
@font-face {
  font-family: 'GameofThronesKG';
  src: url('assets/GameofThronesKG/GameofThronesKG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import '/src/page1/css/modal.css';

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(assets/background5.png);
  background: opacity 30%;
}

.title {
  font-family: 'GameofThronesKG';

  text-shadow: 1px 1px 2px white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.gotFamily {
  width: 70vw;
}

.imgBlock {
  width: 70vw;
  margin-left:15vw;
}

.question {
  background-color: rgb(198, 174, 174) ;
  padding:  5px 20px 30px 5px; 
  border-radius: 20px;
  margin: 5px;
}

.subtitle {
  font-size: 1.5em;

  font-weight: bold; 
  text-align: center;
}


/* Стили для кнопок выбора ответов */
input[type=radio]{
  opacity: 0;
}
.checked{
  /* display: inline-flex; */
  width: 40vw;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 10px 30px;
  border-radius: 15px;
  margin-left: 12vw;
}
input[type=radio]:checked + .checked{
  background: gray;
}