
@font-face {
  font-family: 'GameofThronesKG';
  src: url('assets/GameofThronesKG/GameofThronesKG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* @import './css/modal.css'; */

main{
  background-image: url(assets/Group\ 4.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;

}

.text{
  margin-top: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  

}

h1 {
  font-family: 'GameofThronesKG';
  
  color: rgb(239, 239, 239);
  /* text-shadow: 1px 1px rgb(255, 255, 255); */
  letter-spacing: 3px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}


/* .question {
  background-color: rgb(198, 174, 174) ;
  padding:  5px 20px 30px 5px; 
  border-radius: 20px;
  margin: 5px;
} */

h2 {
  font-size: 1.5em;

  font-weight: bold; 
  text-align: center;
  padding: 0;
}


/* Стили для кнопок выбора ответов */
input[type=radio]{
  opacity: 0;
}
.checked{
  display: flex;
  

  width: 40vw;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 10px 30px;
  border-radius: 15px;
  margin-left: 10vw;
}
input[type=radio]:checked + .checked{
  background: gray;
}

/* модальное окно */

.modal__btn{
  padding: 20px 30px;
  width: 13%;
  
  color: white;
  font-size: 1.25em;
  border: none;
  border-radius: 2em;

  background: #590000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.08);
  


  margin: 0;
  cursor: pointer;


}


.modal__bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;


}
.modal__bg_active{
  visibility: visible;
  opacity: 1;


}
.modal{
  position: relative;
  background-color: #c1c1c1;
  width: 60%;
  height: 50%;
  color: rgb(22, 22, 22);

}


.inputs {
  width: 600px;
  display:flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  padding: 1em;

}

.modal__close{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  /* font-weight: bold; */
}

.modal__prev{
  position: absolute;
  bottom: 20px;
  left: 30px;
  cursor: pointer;
  font-size: 1.5em;

}
.modal__next{
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  font-size: 1.5em;
}