@import './css/modal.css';
@font-face {
  font-family: 'GameofThronesKG';
  src: url('assets/GameofThronesKG/GameofThronesKG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Playfa+Display+SC&display=swap');

body {
  background-color: black;
}

main{
  background-image: url(assets/Group\ 4.png);
  /* height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;

}

.header {
  display: flex;
  align-items:baseline;
  padding: 1% 2%;
  gap: 1%;
}

.header img{
  cursor: pointer;
}
.header img:last-child {
  position: absolute;
  right: 2%;
}

.text{
  margin-top: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-family: 'GameofThronesKG';
  
  color: rgb(239, 239, 239);
  /* text-shadow: 1px 1px rgb(255, 255, 255); */
  letter-spacing: 3px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;

  margin: 0 0 40px 0 ;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  line-height: 1em;
  font-size: 1.25em;

  
  text-align: center;
  padding: 0;
}


/* Стили для кнопок выбора ответов */
input[type=radio]{
  opacity: 0;
}
.checked{
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: center;

  background: rgb(221, 221, 221);
  padding: 10px 30px;
  border-radius: 15px;

  font-family: 'Playfair Display SC', serif;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}
input[type=radio]:checked + .checked{
  background: rgb(192, 192, 192);
}
