body{
    background-image: url(../page1/assets/background8.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    }

    .result {
        width: 40vw;
        margin: 10vh auto auto 30vw;
        background-color: antiquewhite;
        border-radius: 10px;
    }

    #about {
        padding: 10px 30px 30px 30px;
    }

    #avatar {
    width: calc(40vw - 60px);
    margin: 30px 30px 0 30px;
    }

