
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
body{
    
    background-color:rgb(87, 27, 27);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    font-family: 'Playfair Display', serif;
  
  }
  .main{
    background-image: url(./assets/background2page.png);
    /* opacity: 0.6; */
  }

  .container {
    
    position: absolute;
    z-index: 1;
    background-color: #d9d5d5;
    box-shadow: 0px 4px 4px #f8f8f8(0, 0, 0, 0.25);
    width: 60vw;
    height: auto;
    padding: 0 3% 6% 3%;
    margin: 2% 16vw;
    border: none;
    border-radius: 2em;
    
    color: rgb(22, 22, 22);
    transition: all 0.8s ease 0s;
    transform: translate(0px, 0px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
   

  }
  

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5% ;
    background-color: white;
    border-radius: 1em;
}

.data {
  display: flex;
  flex-direction: row;
}

#about {
    line-height: 1.5em;
    text-align: center;
    padding: 0;
    padding: 0 30px 0 30px;
    font-family: 'Roboto', sans-serif;
  }

#avatar {
    align-self: center;
    width: calc(20vw - 60px);
    margin-bottom: 20px;
}
.div_Lord{
  display: flex;
  flex-direction: column;
}
.lordImg {
    width: 30vw;
    margin: 0 auto;
    
}
    
